<div class="container">
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">
    <header>
        <div>
            <img src="~/images/CBRLogobig.png" width="150px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Index">Inicio</a></li>
                <li><a href="/home/login">Login</a></li>
                <li><a href="/home/premium">Premium</a></li>

    </header>
    <form id="contact" action="" method="post">
        <h1><center>CBR</center></h1>
        <h3><center>Contacto</center></h3>
        <h4>Contactenos si tiene alguna duda, y le respondemos en 24!</h4>

        <fieldset>
            <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
        </fieldset>

        <fieldset>
            <input placeholder="Correo Electronico " type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
            <textarea placeholder="Type your message here... " tabindex="4">
		</textarea>

            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">
                Submit

            </button>

        </fieldset>
        <h5>
            <center>CBR Technologies</center>
        </h5>
    </form>
</div>
