<html>
<head>
    <title>CBR</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/slick/slick.css">
    <link rel="stylesheet" href="~/css/slick/slick-theme.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/iconfont.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootsnav.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css" />
    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

    <div class="culmn">
        

        <nav class="navbar navbar-default bootsnav navbar-fixed">
            
          

            <div class="container">
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#brand">
                        <img src="~/images/cbr_logo.png" alt="">
                        
                    </a>
                </div>
               
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home/Login">Login</a></li>                      
                        <li><a href="/home/Premium">Premium</a></li>
                        <li><a href="/home/Contact">Contacto</a></li>
                        <li><a href="/home/Examen">Examen</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section>

            <img src="~/images/home_image.jpg" alt="">

        </section>
        
        <section id="features" class="features">
            <div class="container">
                <div class="row">
                    <div class="main_features fix roomy-70">
                        <div class="col-md-4">
                            <div class="features_item sm-m-top-30">
                                <div class="f_item_icon">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <div class="f_item_text">
                                    <h3>La mejor pagina de examenes de certificacion</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                        in sit amet mattis volutpat rhoncus.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="features_item sm-m-top-30">
                                <div class="f_item_icon">
                                    <i class="fa fa-tablet"></i>
                                </div>
                                <div class="f_item_text">
                                    <h3>Resualve examenes desde tu telefono</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                        in sit amet mattis volutpat rhoncus.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="features_item sm-m-top-30">
                                <div class="f_item_icon">
                                    <i class="fa fa-sliders"></i>
                                </div>
                                <div class="f_item_text">
                                    <h3>Crea el examen a tu gusto</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                        in sit amet mattis volutpat rhoncus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="business" class="business bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_business">
                        <div class="col-md-6">
                            <div class="business_slid">
                                <div class="slid_shap bg-grey"></div>
                                <div class="business_items text-center">
                                    <div class="business_item">
                                        <div class="business_img">
                                            <img src="~/images/quiz.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="business_item">
                                        <div class="business_img">
                                            <img src="~/images/quiz.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="business_item">
                                        <div class="business_img">
                                            <img src="~/images/quiz.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="business_item sm-m-top-50">
                                <h2 class="text-uppercase"><strong>Porque</strong> usar modo Premium</h2>
                                <ul>
                                    <li><i class="fa fa-arrow-circle-right"></i> Tiempo ilimitado en tus examenes</li>
                                    <li><i class="fa  fa-arrow-circle-right"></i> Posibilidad de ver las respuestas del examen</li>
                                    <li><i class="fa  fa-arrow-circle-right"></i> Modificar los examenes sin restricciones</li>
                                </ul>
                                <p class="m-top-20">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque eleifend in mi
                                    sit amet mattis suspendisse ac ligula volutpat nisl rhoncus sagittis cras suscipit
                                    lacus quis erat malesuada lobortis eiam dui magna volutpat commodo eget pretium vitae
                                    elit etiam luctus risus urna in malesuada ante convallis.
                                </p>
                                <div class="business_btn">
                                    <a href="" class="btn btn-default m-top-20">Ver mas </a>
                                    <a href="" class="btn btn-primary m-top-20">Comprar ya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        <footer>

            <p class="m-top-20">
                CBR Technologies 2018
            </p>


        </footer>


    </div>


    <script src="~/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/css/slick/slick.js"></script>
    <script src="~/css/slick/slick.min.js"></script>
    <script src="~/js/jquery.collapse.js"></script>
    <script src="~/js/bootsnav.js"></script>

    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>