<html>
<head>
    <title>CBR</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/slick/slick.css">
    <link rel="stylesheet" href="assets/css/slick/slick-theme.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/iconfont.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/bootsnav.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>

    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>

    <header>
        <div>
            <img src="~/images/foto1.jpg" class="logo" alt="">
        </div>      

                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home/Login">Login</a></li>
                        <li><a href="/home/Premium">Premium</a></li>
                        <li><a href="/home/Contact">Contacto</a></li>
                        <li><a href="/home/Examen">Examen</a></li>

                    </ul>
                </div>


</header>
    <main>
        <h1>CBR </h1>
        <p>Nuestro propsito es ofrecer un servico completo de calidad para nustros usuarios, en el cual se puedan realizar varios tipos de pruebas como por ejemplo: COBIT, ITIL, CISCO, SCRUM, entre otros. Siempre a disposicion de nuestors usuarios para que estos les funcionen de practica para las pruebas reales.</p>
        <img src="~/images/foto1.jpg" />
    </main>

    <footer>
        <p>CBR Technologies 2018</p>
    </footer>
</body>
</html>