<html>
<head>
    <title>CBR</title>
    <link rel="stylesheet" type="text/css" href="~/css/estilos.css">
</head>

<body>
    <header>
        <div>
            <img src="~/images/CBRLogo.png" width="150px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Login">Login</a></li>
                <li><a href="/home/Premium">Premium</a></li>
                <li><a href="/home/Contact">Contacto</a></li>
    </header>
    <main>
       <h1>CBR </h1>
<p>Nuestro propsito es ofrecer un servico completo de calidad para nustros usuarios, en el cual se puedan realizar varios tipos de pruebas como por ejemplo: COBIT, ITIL, CISCO, SCRUM, entre otros. Siempre a disposicion de nuestors usuarios para que estos les funcionen de practica para las pruebas reales.</p>    
        <img src="~/images/foto1.jpg" />
    </main>

    <footer>
        <p>CBR Technologies 2018</p>
    </footer>
</body>
</html>