@model CBR_Web.Models.User;
<div class="container">
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">
    <header>
        <div>
            <img src="~/images/CBRLogobig.png" width="150px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Index">Inicio</a></li>
                <li><a href="/home/Login">Login</a></li>
                <li><a href="/home/Premium">Premium</a></li>
                <li><a href="/home/Contact">Contacto</a></li>
            </ul>
        </nav>

    </header>
    <form id="contact" method="post" asp-controller="Home" asp-action="Usuarioexistente">

        <h3>Por Favor ingrese sus datos</h3>

        <fieldset>
            <input asp-for="Correo" placeholder="Correo Electronico " type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
            <input asp-for="Clave" placeholder="Clave " type="password" tabindex="2" required>
        </fieldset>
        <br />
        <a href="/home/MenuUser" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ingresar</a>
        <h5>
            CBR Technologies
        </h5>
    </form>
</div>