<html>
<head>
    <title>CBR</title>
    <link rel="stylesheet" type="text/css" href="~/css/estilo.css">
</head>

<body>
    <header>
        <div>
            <img src="~/images/CBRLogo.png" width="150px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/login">Login</a></li>
                <li><a href="/home/premium">Premium</a></li>
                <li><a href="/home/Contact">Contacto</a></li>
    </header>
    

    <nav>
        <ul>
            <li><a href="/home/Login_Nuevo">Usuario Nuevo</a></li>
            <li><a href="/home/Login_Existente">Usuario Existente</a></li>





            <footer>
                <p>CBR Technologies 2018</p>
            </footer>
</body>
</html>