<html>


<head>
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">


</head>

<body>
    <header>
        <div>
            <img src="~/images/CBRLogobig.png" width="150px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/login">Login</a></li>
                <li><a href="/home/premium">Premium</a></li>
                <li><a href="/home/Contact">Contacto</a></li>
            </ul>
        </nav>
    </header>


    <nav>
        <ul>
            <li><a href="/home/Login_Nuevo">Usuario Nuevo</a></li>
            <li><a href="/home/Login_Existente">Usuario Existente</a></li>
        </ul>
    </nav>





</body>
</html>