<html>
<head>
    <title>CBR</title>
    <link rel="stylesheet" type="text/css" href="~/css/estilos.css">
</head>

<body>
    <header>
        <div>
            <img src="~/images/CBRLogo.png" width="150px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Premium">Premium</a></li>

    </header>

    <footer>
        <p>CBR Technologies 2018</p>
    </footer>
</body>
</html>