<html>
<head>
    <title>CBR</title>
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">
    <link rel="stylesheet" href="~/css/examencss/examenbtn.css" type="text/css">
    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <header>
        <div>
            <img src="~/images/CBRLogobig.png" alt="">
        </div>
        <nav>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home/Login">Login</a></li>
                    <li><a href="/home/Premium">Premium</a></li>
                    <li><a href="/home/Contact">Contacto</a></li>
                </ul>
            </div>
            </nav>


    </header>

    <section>

        <h1> </h1>
    </section>

    <div class="container">
        <a href="/home/Examen">
            <img src="~/images/cisco-logo.jpg" alt="Cisco">
        </a>
        <button class="btn">Cisco</button>
    </div>
    <section>

        <h1> </h1>
    </section>
    <div class="container">
        <a href="/home/Examen">
            <img src="~/images/ITIL-certification.jpg" alt="ITIL">
        </a>
        <button class="btn">ITIL</button>

    </div>
    <section>

        <h1> </h1>
    </section>
    <div class="container">

        <a href="/home/Examen">
            <img src="~/images/Scrum.jpg" alt="Scrum">
        </a>
        <button class="btn">Scrum</button>
    </div>


</body>
</html>