<html>
<head>
    <title>CBR</title>
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">
    <link rel="stylesheet" href="~/css/examencss/examenbtn.css" type="text/css">
    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <header>
        <div>
            <img src="~/images/CBRLogobig.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Index">Inicio</a></li>
                <li><a href="/home/Premium">Premium</a></li>
                <li><a href="/home/Contact">Contacto</a></li>


            </ul>
            </nav>


    </header>

    <section>

        <h1> </h1>
    </section>

    <div class="container">
        <img src="~/images/cisco-logo.jpg" alt="Cisco">
        <button  class="btn">Cisco</button>
        
        <link />

    </div>
    <section>

        <h1> </h1>
    </section>
    <div class="container">
        <img src="~/images/ITIL-certification.jpg" alt="ITIL">
        <button class="btn">ITIL</button>

    </div>
    <section>

        <h1> </h1>
    </section>
    <div class="container" href="/home/Examen">
        <img src="~/images/Scrum.jpg" alt="Scrum">
        <button class="btn">Scrum</button>

    </div>


</body>
</html>