<html>
<head>
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">
</head>

<body>
    <header>
        <div>
            <img src="~/images/CBRLogobig.png" width="150px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Premium">Premium</a></li>
                
    </header>
		
<select>
  <option value="Cisco">Cisco</option>
  <option value="ITIL">ITIL</option>
  <option value="COBIT">COBIT</option>
  <option value="SCRUM">SCRUM</option>		
</select>
		<fieldset>
            <input  placeholder="Pregunta" type="text" required>
        </fieldset>
		<fieldset>
            <input  placeholder="Respuesta Correcta" type="text" required>
        </fieldset>
		<fieldset>
            <input  placeholder="Respuesta Incorrecta 1" type="text" required>
        </fieldset>
		<fieldset>
            <input  placeholder="Respuesta Incorrecta 2" type="text" required>
        </fieldset>
		<fieldset>
            <input  placeholder="Respuesta Incorrecta 3" type="text" required>
        </fieldset>
		<button name="submit" type="submit" id="pregunta-submit" data-submit="...Sending">
            Submit
        </button>
		
    <footer>
        <p>CBR Technologies 2018</p>
    </footer>
</body>
</html>