<html>
<head>
    <title>CBR</title>
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">
</head>

<body>
    <header>
        <div>
            <img src="~/images/CBRLogobig.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Index">Inicio</a></li>
                <li><a href="/home/Login">Login</a></li>
                <li><a href="/home/Contact">Contacto</a></li>
</header>
    <main>
        <h1>CBR </h1>
        <h2>Porque Premium?</h2>
<p>Premium te da acceso a una cantidad ilimitada de preguntas. Ademas te damos la opcion de ver cual es la opcion correcta de una pregunta cuando la fallas, a diferencia de la version gratis donde solo te dice que lo tienes malo pero no te da la repuesta.</p>    </main>

    <footer>
        <p>CBR Technologies 2018</p>
    </footer>
</body>
</html>