<html>
<head>
    <title>CBR</title>
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">
    <link rel="stylesheet" href="~/css/examencss/examenbtn.css" type="text/css">
</head>

<body>
    <header>
        <div>
            <img src="~/images/cbr_logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Index">Inicio</a></li>
                <li><a href="/home/Login">Login</a></li>
                <li><a href="/home/Contact">Contacto</a></li>
            </ul>
        </nav>
</header>
    <main>
        <div class="container">
            <img src="~/images/cisco-logo.jpg" alt="Cisco">
            <button class="btn">Cisco</button>

        </div>

    </main>

    <footer>
        <p>CBR Technologies 2018</p>
    </footer>
</body>
</html>